/* Hydro UI Custom CSS
 * Note these will overwrite bootstrap classes
 */

/* Global css */
body {
    height: 100%;
    background-color: black;
}

html {
    height: 100%;
}

button:focus {outline:0;}

.main {
    border: solid .5rem black;
    border-radius: 1rem;
    background-color: #632e08;
    /*background-color: #040404cc;*/
}

.control-view-panel{
    width: 100%;
    height: 70%
}

.panel {
	border: solid .2rem;
    margin: .5rem;
	border-radius: 1%;
}


.panel.right {
}

.panel.lower {
    width: 100%;
    height: 25%
}

/* left panel */
.panel.left {
}

.dial {
    background-color: black;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
	border-style: dashed;
    border-color: #cccbcb;
    border-width: .1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 4rem;
    cursor: pointer;
}


/* param display and init are */
.display {
    box-shadow:inset 0px 0px 20px 20px #cccbcb;
	border-style: solid inset solid solid;
    border-color: #cccbcb;
    border-width: 1rem;
    border-radius: 4rem;
    background-color: teal;
    margin: 1%;
    font-family: C64 Pro;
}

.display-inner {
    height:100%;
    width: 100%;
    box-shadow: 0px -16px teal;
}

button.init {
    width: 8vw;
    height: 1.5vw;
    border-radius: 1vw;
    background-color: silver;
}


button:focus {
    border-color: teal;
    color: teal;
}

button:hover {
    border-color: teal;
    color: teal;
}
