/* Hydro UI Custom CSS
 * Note these will overwrite bootstrap classes
 */

body {
    height: 100%;
}

html {
    height: 100%;
}

.controller {
    position: relative;
    font-family: Impact;
    /*border: 2px solid crimson;*/
    overflow: hidden;
    transition: all 1s;
    cursor: pointer;
}

.controller.landing {
    height: 20vw;
    width: 20vw;
    font-size: 1.7vw;
}

.controller.nav {
    position: absolute;
    height: 6.5vw;
    width: 6.5vw;
    font-size: .6vw;
}

.controller:hover {
    transform: scale(1.5, 1.5);
}

.top,
.left,
.right,
.bottom {
    position: absolute;
    /* height: calc(100% / 1.414);
    width: calc(100% / 1.414); */
    height: calc(100% / 1.47);
    width: calc(100% / 1.47);
    top: 50%;
    left: 50%;
    /* border: 1px solid crimson; */
    transform-origin: 0% 0%;
}

.top:hover,
.left:hover, 
.right:hover, 
.bottom:hover {
    opacity: .9;
}

.right {
    transform: rotate(-45deg);
    background-color: #AC3E31;
} 

.bottom {
    transform: rotate(45deg);
    background-color: #6AB187;
}

.top {
    transform: rotate(-135deg);
    background-color: #488A99;

}

.left {
    transform: rotate(135deg);
    background-color: #5d5757;
}

.controller-text {
    position: absolute;
}

.top .controller-text {
    transform: rotate(135deg);
    transform-origin: 55% 120% 0px;
}

.right .controller-text {
    transform: rotate(45deg);
    transform-origin: 0 185% 0px;
}

.left .controller-text {
    transform: rotate(-135deg);
    transform-origin: 60% 101% 0px;
}

.bottom .controller-text {
    transform: rotate(-45deg);
    transform-origin: 180% 0% 0px;
}


.selectarea {
    box-shadow: 3px 3px 1px grey;
    display: flex;
}

.block {
    padding: 1vw;
    font-size: .65vw;
    font-family: Impact;
    height: 6.5vw;
    width: 6.5vw;
    margin: .5vw;
    text-align: center;
    background-color: #488A99;
} 
